html, body {

	@if $global-rtl-enable == false {
		direction: ltr; 
		/*text-align: left;*/ // already assigned by bootstrap
	} @else { 
		direction: rtl; 
		text-align: right;
	}

	min-height: 					100vh;
	-webkit-tap-highlight-color: 	rgba(0,0,0,0);
	-webkit-touch-callout:			none;


	// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
	// ADVANCED FONT ADJUSTMENT/CALIBRATION
	// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
	@if $font-kerning != '' 			{ font-kerning: 			$font-kerning; 			}
	@if $font-display != '' 			{ font-display: 			$font-display; 			}
	@if $font-smoothing != '' 			{ -webkit-font-smoothing: 	$font-smoothing; 		}
	@if $font-smoothing == 'antialiased'{ -moz-osx-font-smoothing: 	grayscale; 				} 	// firefox
	@if $text-rendering != '' 			{ text-rendering: 			$text-rendering; 		}
	@if $text-size-adjust != '' 		{ -webkit-text-size-adjust: $text-size-adjust; 		}
	// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
	@if $font != '' 					{ font: 					$font; 					}	// font: 110%/1.2em 'Source Sans Pro';
	@if $font-feature-settings != '' 	{ font-feature-settings: 	$font-feature-settings; } 	// font-feature-settings: "kern","liga","clig","calt";
	@if $font-letter-spacing != '' 		{ letter-spacing: 			$font-letter-spacing; 	}
	// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

}

a, textarea, input, button, *:focus, *:active {
	outline:none !important;
}

textarea {
	resize: vertical;
	min-height: 36px;
	transition: none;
}


section {
	 word-break: break-word; 
	 position: relative;
}
	section table,
	section .table-responsive {
		word-break: normal;
	}


select { /* keep it separated, do not combine */
    text-indent: 0.01px;
    text-overflow: '';
}

select ,
input[type=number], 
input[type=time], 
input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	appearance: none;
	-moz-appearance: textfield;
}